.body {
    background: url('../images/main-background-.jpg');
    height: 100vh;
    background-size: cover;
    background-position-y: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
        .button {
            padding: 35px;
            font-family: $roboto;
            text-transform: uppercase;
            font-size: 40px;
            text-decoration: none;
            border: none;
            border-radius: 25px;
            color: white;
            background-color: rgba(46, 27, 8, 0.521);
        }
            .button:hover {
                background-color: rgba(82, 62, 8, 0.829);
                color: turquoise;
                transform: scale(1.05);
                transition: transform ease 0.1s;
            }

.divGame{
    display: flex;
}
.sectionMoveGrogu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 80vh;
}
.sectionElements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: rgba(255, 255, 255, 0.596) 2px solid;
    width: 25vw;
    height: 80vh;
}
    .divDiceGroguPosition {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .buttonDice {
            width: 120px;
            color: white;
            border: none;
            font-size: 25px;
            padding: 15px;
            border-radius: 20px;
            text-transform: uppercase;
            font-family: $robotoMono;
            cursor: pointer;
        }
            .buttonDice:hover {
                transform: scale(1.10);
                transition: transform ease 0.1s;
            }
        .textResult {
            color: rgb(255, 255, 255);
            font-size: 20px;
            border-radius: 20px;
            font-family: $robotoMono;
            font-weight: bold;
        }
        .textQuantityElements {
            width: 180px;
            padding: 10px;
            margin-top: 15px;
            color: rgba(252, 252, 252, 0.911);
            background-color: rgba(46, 27, 8, 0.452);
            border: rgba(255, 255, 255, 0.678) 2px solid;
            border-radius: 10px;
            text-align: center;
            font-family: $robotoMono;
            text-transform: uppercase;
        }
.tableStyles {
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 16px;
    padding: 15px;
}
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100px;
        height: 100px;
        border-bottom: rgb(65, 37, 2) 7px solid;
        border-radius: 5px;
    }
.groguImg {
    width: 90px;
}
    .hidden {
        opacity: 0%;
    }
.divContentImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
    .imgElements {
        width: 80px;
    }