.articleRules {
    height: 73.5vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.507);
}
.rulesText {
    width: 50vw;
}